		h1 { text-align: center; }
		h3 { text-align: center; }
		body {
			background-image:url('consola3.jpg');
			color: white;
		}
		span {
			background-color: black;
			margin: 10px;
			font-weight: lighter;
		}
		p {
			background-color: black;
			margin: 10px;
		}
		div {
			background-image:url('consola1.jpg');
			position:absolute;
			top:11%;
			left:8%;

			box-shadow:10px 10px 5px black;
			opacity:0.8;
			border-radius:15px;
			margin-left:20px;
			margin-right:20px;
			border:1px outset black;
			margin: 10px;
		}
		p{
			font-weight: bold;
			border-radius:5px;
			margin-left:20px;
			margin-right:20px;
			

		}
		 .2 div {
			border-radius:5px;
			margin-left:5px;
			margin-right:5px;
			background-color: black;

		}